**/node_modules 

# Ignore node_modules directory
node_modules/

# Ignore build output files
dist/
build/

# Ignore log files
*.log

# Ignore IDE files
.idea/
.vscode/

# Ignore environment variables
.env